{% extends 'base.html.twig' %}

{% block title %}Автомобили{% endblock %}

{% block body %}
    <h1>Список автомобилей</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Марка</th>
                <th>Модель</th>
                <th>Положение руля</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ car.getBrand().getName() }}</td>
                <td>{{ car.getModel().getName() }}</td>
                <td>{{ car.getModel().getSteeringPosition() }}</td>
                <td>
                    <a href="{{ path('car_show', {'id': car.id}) }}">Показать</a>
                    <a href="{{ path('car_edit', {'id': car.id}) }}">Редактировать</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Записей не найдено</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('car_new') }}">Добавить</a>
{% endblock %}
