{% extends 'base.html.twig' %}

{% block title %}Автомобиль{% endblock %}

{% block body %}
    <h1>Автомобиль</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ car.id }}</td>
            </tr>
            <tr>
                <th>Марка</th>
                <td>{{ car.getBrand().getName() }}</td>
            </tr>
            <tr>
                <th>Модель</th>
                <td>{{ car.getModel().getName() }}</td>
            </tr>
            <tr>
                <th>Положение руля</th>
                <td>{{ car.getModel().getSteeringPosition() }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('car_index') }}">Вернуться</a>

    <a href="{{ path('car_edit', {'id': car.id}) }}">Редактировать</a>

    {{ include('car/_delete_form.html.twig') }}
{% endblock %}
