{{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.name, {'label': 'Название'}) }}
            {{ form_row(form.steeringPosition, {'label': 'Положение руля'}) }}
        </div>
    </div>
    <button class="btn btn-primary">{{ button_label|default('Сохранить') }}</button>
{{ form_end(form) }}
