{% extends 'base.html.twig' %}

{% block title %}Модели автомобилей{% endblock %}

{% block body %}
    <h2>Модели автомобилей</h2>

    <table class="table table-striped">
        <thead class="thead-light">
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Положение руля</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for model in models %}
            <tr>
                <td data-label="Название">{{ model.name }}</td>
                <td data-label="Положение руля">{{ model.steeringPosition }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('model_show', {'id': model.id}) }}">Показать</a>
                    {% if is_granted('ROLE_MANAGER') or is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-primary" href="{{ path('model_edit', {'id': model.id}) }}">Редактировать</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Записей не найдено</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="text-center">
            <a class="btn btn-primary" href="{{ path('model_new') }}">Добавить</a>
        </div>
    {% endif %}
{% endblock %}
